*{
    box-sizing: border-box;
}

body{
    padding: 0;
    background: orange;
}

header h1{
    font-family: Brushboy, sans-serif;
    text-align: center;
    background: yellow;
    padding: 5px;
    border-radius: 25px;
    border: 3px solid darkgoldenrod;
}

article{
    font-family: Boozy,sans-serif;
    font-size: 2em;
    line-height: 0.8;
    text-align: center;
}

.container{
    margin: auto;
    max-width: 600px;
    margin-top: 20px;
}

.text-info{
    background: darkorange;
    padding: 10px;
    border-radius: 25px;
    border: 3px solid rgba(0, 0, 0, 0.515);
    line-height: 1.2;
}

.bole{
    color: green;
    text-shadow: 1px 1px white;
    font-size: 1.5em;
    line-height: 0;
}

.mene{
    color: darkred;
    text-shadow: 1px 1px white;
    font-size: 0.9em;
    line-height: 0;
}

article p{
    margin: 0 0 10px;
}

input{
    display: block;
    margin: auto;
    padding: 10px;
    width: 100%;
}

.play{
    border-radius: 25px;
    border: black dashed;
    padding: 15px;
}

input[type=text]{
    border-radius: 10px 10px 0 0;
    text-align: center;

    font-family: Brushboy, sans-serif;
    font-size: 1em;
}

input[type=submit]{
    text-align: center;
    border-radius: 0 0 10px 10px;
    font-family: Brushboy, sans-serif;
    font-size: 1em;
    background: yellow;
}

input[type=submit]:active{
    font-size: 1.2em;
}

input::placeholder{
    font-family: Brushboy, sans-serif;
}

.valid{
    background: black;
    color: white;
    padding: 5px;
    border-radius: 25px;
}
.valid p{
    margin: 0;
}

#message{
    text-align: center;
    font-weight: bold;
}

#score{
    font-size: 1.2em;
}

footer{
    text-align: center;
    font-family: Boozy,sans-serif;
    font-size: 2em;
}

footer h2{
    margin: 0;
    padding: 0;
}

table{
    border: none;
    margin: auto;
}

th,td{
    padding: 10px;
    border: 1px black solid;
}
